apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: mongodb
  namespace: user1-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/jduimovich0/mongo-backend@sha256:3bfe543d08e77675dca09f53e923190eea44be0104ada5e160b817cd9a95aa1b
        name: container-image
        resources: {}
status: {}
